.banner {
  background-color: #f6f9f6;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px 40px;
  margin-bottom: 40px;
  text-transform: uppercase;
}

.banner p {
  color: #868e96;
}
